/* Estilo general para el cuerpo de la página */
html *{
    margin: 0; 
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilo para el encabezado */
header {
    border: 2px solid #4e5f70;
    max-width: 1250px;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #4e5f70;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.header-landing {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
}

.logo-header {
    max-width: 35px;
    height: 100%;
    width: 100%;
}

/* Estilo para el contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para la lista de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto h2 {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.producto p {
    margin: 0 10px 10px;
    text-align: justify;
}

/* Estilo para las estrellas llenas */
.estrella-llena {
    color: gold; /* Color de estrellas llenas (doradas) */
    font-size: 45px; /* Tamaño de fuente más grande (ajusta según tus preferencias) */
    margin-right: 4px; /* Espacio entre estrellas llenas (ajusta según tus preferencias) */
}

/* Estilo para las estrellas vacías */
.estrella-vacia {
    color: lightgray; /* Color de estrellas vacías (grises) */
    font-size: 45px; /* Tamaño de fuente más grande (ajusta según tus preferencias) */
    margin-right: 4px; /* Espacio entre estrellas vacías (ajusta según tus preferencias) */
}

/* Estilo para el botón "Ver Detalles" */
.ver-detalle {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4e5f70;
    color: #fff;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.ver-detalle:hover {
    background-color: #3c4d5d;
}

/* Estilo para la página de detalles */
.detalle-producto {
    text-align: center;
}

.detalle-producto p {
    text-align: justify;
}

.detalle-producto img {
    max-width: 100%;
    height: auto;
}

/* Estilo para el botón de volver en la página de detalles */
.volver {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4e5f70;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.volver:hover {
    background-color: #3c4d5d;
}

/** Footer **/

.footer-section {
    max-width: 1250px;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #4e5f70;
    color: #ffffff;
    border-radius: 10px
}

.wrap-social-logos ul, .wrap-menu-footer-section ul {
    display: flex;
    justify-content: center;
}

.social-logo {
    max-width: 40px;
    width: 100%;
    padding: 1rem;
}

.wrap-menu-footer-section ul li {
    font-size: 1.1rem;
    padding: 1.5rem;
}

.footer-creds {
    display: flex;
    justify-content: center;
}

/* Estilos para hacer la página responsive */
@media screen and (max-width: 768px) {
    .productos {
        flex-direction: column;
    }

    .producto {
        width: 100%;
    }
}